:root {
    --font-primary: mononoki NF, monospace !important;
    --font-display: mononoki NF, monospace !important;
    --font-headline: mononoki NF, monospace !important;
    --font-code: mononoki NFM, monospace !important;
}