:root {
    --font-display: JetBrainsMono NF !important;
    --font-primary: JetBrainsMono NF !important;
    --font-headline: JetBrainsMono NF !important;
    --font-code: JetBrainsMono NFM !important;
}