:root {
    --font-primary: JetBrainsMono NF, monospace !important;
    --font-display: JetBrainsMono NF, monospace !important;
    --font-headline: JetBrainsMono NF, monospace !important;
    --font-code: JetBrainsMono NFM, monospace !important;
}